.evita-menu{
    margin-top: 70px;
}

.idiomaES{
  margin-left: 10px;
    color: limegreen;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.idiomaEN{
    margin-left: 10px;
    color: darkred;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.espacio{
    margin-bottom: 5px;
}

.detalles{
    color: black;
    background-color: rgba(253,208,69,0.5);
}

a{
    color: rgb(0,188,241);
}

.titulo-tipo{
    font-weight: bold;
    text-decoration: underline;
    color: white;
    margin-left: 5px;
}