.evita-menu{
    margin-top: 70px;
}

.idiomaES{
  margin-left: 10px;
    color: limegreen;
    font-weight: bold;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    flex: auto;
    text-align: right;
}

.idiomaEN{
    margin-left: 10px;
    color: darkred;
    font-weight: bold;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    flex: auto;
    text-align: right;
}

.espacio{
    margin-bottom: 5px;
}

.detalles{
    color: black;
    background-color: rgba(253,208,69,0.5);
}

a{
    text-decoration: none;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, #0080ff, #29FF00);
    padding: 10px;
    color: white;
}

a:hover{
    background-image: linear-gradient(to bottom right, #0017FF, #25B902);
    box-shadow: 3px 3px green;
}

.titulo-tipo{
    font-weight: bold;
    text-decoration: underline;
    color: white;
    margin-left: 5px;
}